:root {
  /*background colors*/
  --button-background: #3498db;
  --input-background: white;

  /*text colors*/
  --primary-text-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  max-width: 1200px;
  background: blueviolet;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
